$pink:    #fa6ca6;
$bg:      #3b2e36;
$s0:      #463740;
$s1:      #513f4a;
$fg:      #d3b8ca;
$subtle:  #a79aa2;
$muted:   #776772;
$red:     #fa6a7e;
$orange:  #fa9e6a;
$yellow:  #fae66a;
$blue:    #6ac6fa;
$green:   #c6fa6a;

.bar {
  background-color: $bg;
  color: $fg;

  padding: 0 10px;

  font-size: 20px;
  font-family: 'ComicShannsMono Nerd Font', monospace;
}

.workspace-entry-empty {
  color: $subtle;
}

.workspace-entry-current {
  color: $pink;
}

.workspace-entry-urgent {
  background-color: $red;
}

.workspace-entry:hover {
  background-color: $s0;
}

.pad {
  color: $muted;
  font-weight: bold;
  padding: 0 10px;
}

.volume {
  color: $orange;
}

.volume.muted {
  color: $muted;
}

.ip {
  color: $yellow;
}
