@define-color bg #fcf8ec;
@define-color fg #210f1a;
@define-color pink #d968ac;

window#waybar {
  background-color: @bg;
  font-family: NotoSansM Nerd Font;
  font-size: 16px;
  border-radius: 12px;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 0;
}

.modules-right {
  padding-right: 16px;
}

tooltip {
  border-radius: 8px;
  padding: 8px;
  background-color: @bg;
  color: @fg;
}

tooltip label {
  color: @fg;
  font-family: NotoSansM Nerd Font;
}

#tray menu {
  border-radius: 8px;
  padding: 8px;
  background-color: @bg;
  color: @fg;
}

#tray menu menuitem {
  padding: 4px;
}

#tray menu menuitem:hover {
  background-color: @pink;
  color: @bg;
}

label.module {
  color: @fg;
  font-weight: 600;
}

#workspaces button {
  all: unset;
  padding: 4px 12px;
  font-weight: 500;
  color: @fg;
}

#workspaces button.active {
  color: @pink;
}

#wireplumber.muted {
  text-decoration: line-through;
}
