@define-color bg #2d1e22;
@define-color fg #d3b8ca;
@define-color pink #fa6ca6;

window#waybar {
  background-color: transparent;
  font-family: ComicShannsMono Nerd Font;
  font-size: 16px;
}

.modules-center {
  background-color: @bg;
  color: @fg;
  border-radius: 999px;
  padding: 8px 16px;
}

tooltip {
  border-radius: 8px;
  padding: 8px;
  background-color: @bg;
  color: @fg;
}

#tray menu {
  border-radius: 8px;
  padding: 8px;
  background-color: @bg;
  color: @fg;
}

#tray menu menuitem {
  padding: 4px;
}

#tray menu menuitem:hover {
  background-color: @pink;
  color: @bg;
}

label.module {
  color: @fg;
  font-weight: 600;
}

#custom-sep {
  padding: 0 4px;
}
