@define-color bg_dim      #232a2e;
@define-color bg0         #2d353b;
@define-color bg1         #343f44;
@define-color bg2         #3d484d;
@define-color bg3         #475258;
@define-color bg4         #4f585e;
@define-color bg5         #56635f;
@define-color bg_visual   #543a48;
@define-color bg_red      #514045;
@define-color bg_green    #425047;
@define-color bg_blue     #3a515d;
@define-color bg_yellow   #4d4c43;
@define-color fg          #d3c6aa;
@define-color red         #e67e80;
@define-color orange      #e69875;
@define-color yellow      #dbbc7f;
@define-color green       #a7c080;
@define-color aqua        #83c092;
@define-color blue        #7fbbb3;
@define-color purple      #d699b6;
@define-color grey0       #7a8478;
@define-color grey1       #859289;
@define-color grey2       #9da9a0;
@define-color statusline1 #a7c080;
@define-color statusline2 #d3c6aa;
@define-color statusline3 #e67e80;

* {
    all: unset;

    font-size: 20px;
    font-family: 'ComicShannsMono Nerd Font';
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
}

button {
    border: none;
    border-radius: 0;
}

#workspaces button {
    color: @fg;
}

#workspaces button.empty {
    color: @bg5;
}

#workspaces button.active {
    color: @purple;
}

/* Style for hovered workspace buttons */
#workspaces button:hover {
    background: @bg1;
}

/* Style for urgent workspace buttons */
#workspaces button.urgent {
    background-color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#mpris {
    padding: 0 10px;
}

#pulseaudio {
    color: @orange;
}

#network {
    color: @yellow;
}

#temperature {
    color: @blue;
}

#battery {
    color: @green;
}

#clock {
    color: @purple;
}

#window {
    color: @purple;
}

#mpris {
    color: @green;
}

.modules-right, .modules-left, .modules-center {
    background-color: @bg0;
    border-radius: 10000px;
}

.modules-right {
    padding: 0 10px;
}

.modules-left {
    padding: 0 20px;
}

.modules-center {
    padding: 0 10px;
}

#battery.charging, #battery.plugged {
    color: @blue;
}

#pulseaudio.muted {
    color: @bg5;
}
