@define-color pink  #fa6ca6;
@define-color bg    #3b2e36;
@define-color s0    #463740;
@define-color s1    #513f4a;
@define-color fg    #d3b8ca;
@define-color subtle    #a79aa2;
@define-color muted #776772;
@define-color red   #fa6a7e;
@define-color orange    #fa9e6a;
@define-color yellow    #fae66a;
@define-color blue      #6ac6fa;
@define-color green     #c6fa6a;

* {
    all: unset;

    font-size: 20px;
    font-family: 'ComicShannsMono Nerd Font';
}

window#waybar {
    background-color: @bg;
}

button {
    border: none;
    border-radius: 0;
}

#workspaces button {
    color: @fg;
}

#workspaces button.empty {
    color: @subtle;
}

#workspaces button.active {
    color: @pink;
}

/* Style for hovered workspace buttons */
#workspaces button:hover {
    background: @s0;
}

/* Style for urgent workspace buttons */
#workspaces button.urgent {
    background-color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#mpris {
}

#pulseaudio {
    color: @orange;
}

#network {
    color: @yellow;
}

#temperature {
    color: @blue;
}

#battery {
    color: @green;
}

#clock {
    color: @fg;
}

#window {
    color: @fg;
}

#mpris {
    color: @green;
}

.modules-right, .modules-left, .modules-center {
}

.modules-right {
    padding: 0 10px;
}

.modules-left {
    padding: 0 10px;
}

.modules-center {
    padding: 0 10px;
}

#battery.charging, #battery.plugged {
    color: @blue;
}

#pulseaudio.muted {
    color: @muted;
}

#custom-sep {
    padding: 0 10px;
    font-weight: bold;
    color: @muted;
}
